<h1>{{title}}</h1>
<p>Dneska je: {{today | date: 'dd.MM.yyyy HH:mm:ss'}}</p>
<button (click)="changeTitle($event)">Změn title</button>
<app-form-component [subtitle]="title" [dataToLoad]="dataToLoad" (onSubmit)="sendDataToServer($event)"></app-form-component>
<code>
  {{dataFromComponent}}
</code>
<table border="1" width="600">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>UserId</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let post of (dataFromServer$ | async);let i = index">
      <tr *ngIf="i < 20">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.userId}}</td>
      </tr>
    </ng-container>

  </tbody>
</table>
